body {
  background: #bec4cf;
}

#container {
  margin: auto;
  width: 80%;
}

.text-center {
  text-align: -webkit-center;
}

#current-video {
  font-family: 'Source Sans Pro', sans-serif;
  float: left;
  width: 840px;
  height: 570px;
  padding: 20px;
}

/* aside block */
#video-links {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  float: right;
  text-align: left;
  width: auto;
  padding: 20px;
  overflow-y: scroll;
}

/* a single link */
.video-link {
  padding: 5px;
  border-radius: 5px;
  color: #4a4a4a;
  background: none;
  transition: all 0.2s;
}

.video-link:hover {
  background: #73aec7;
  cursor: pointer;
}

#comments-section {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  width: 800px;
  padding: 20px;
  float: left;
  display: none;
}

.video-name {
  font-size: 2em;
}

#nothing-to-play {
  font-size: 1.8em;
  margin: 2em;
}

iframe {
  border: none;
}

#video-1, #video-2, #video-3, #video-4, #video-1-comments-block, #video-2-comments-block, #video-3-comments-block, #video-4-comments-block {
  display: none;
}

.comment-row {
  background: #d9e6ff;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.7em;
  line-height: 1;
  margin: 5px 0px;
}

.comment-row p {
  margin-top: 5px;
}

.comment-user {
  color: #004cff;
}

#comment-write-box {
  font-size: 20px;
}

#comment-write-box h3 {
  margin-bottom: 5px;
  margin-top: 55px;
}

#comment-write-form input, textarea {
  font-size: 0.8em;
  padding: 5px;
  margin: 5px 0px;
  width: 70%;
}

/* button styles */
.btn {
  font-size: 1em;
  background: transparent;
  border-radius: 5px;
}

.btn:focus {
  outline: none;
}

.btn-primary {
  border: #0088ff 2px solid;
  color: #0088ff;
  padding: 0.2em 1em;
}

.btn-primary:hover {
  transition: all 0.2s;
  color: #fff;
  background: #0088ff;
}